@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Enigma</h1>
    
    <p>Bad guys are made. They succumb to influence. Even politeness can be a tool of recruitment. We need to destroy the influence of the enemy, Enigma. We have scattered intelligence about who reports to whom. Or is it so simple? Often intelligence reports paint foot soldiers as mere "assets", unknowing co-conspirators providing access and information, not clearly part of any formal command structure, nor cognizant that their actions are offering aid or comfort to Enigma. So who is a bad guy (gal)? Or for those more inclined, a bad hombre?</p>
    
    <h3>Guilt by Association?</h3>

    <p>For 25 years, the Department of Justice has been tracking Enigma, CIA on the trail as well. Certain "ties" to wealthy Americans and other unwitting assets make the waters murky. Who takes the lead? But this game of cat and mouse has soured relations between the Agency and Justice. Turf wars seem to dominate the investigations and to outside observers on the Hill, the Gang of 8 and others in the know, Justice is far from being served.</p>

    <p></p>
    <h3>Our Men and Women in Uniform</h3>

    <p>Despite considerable reservations, recent intel regarding the willingness of certain factions of the "good guys" to preserve the secrecy of their investigative work and protect (oft overused) "sources and methods" by covering up plans of Enigma has forced decision makers to consider extraordinary measures. Rumors of a biological weapon are not only being downplayed by intelligence analysts in the know, there are a few actively providing nothing less than aid and comfort to Enigma. They would never characterize it as such. But the President did. And the men and women who serve in uniform have been called up.

        And your mission should you chose to take it (oft overused but certainly apt today) is to neutralize Enigma and preserve the Republic from enemies within. And you will be faced with many challenges - chief among them how to sort out just who is an enemy. More importantly you have to defend against your own actions drawing you deep into the underbelly of overreach and abuse of those levers of power the people have charged you to use.
    </p><p></p>
    <p>Crack open a copy of the Federalist Papers. Make friends with ChatGPT and strengthen those most intimate relationships as you are likely to feel isolated and alone once you peer into the secret lives of those touched by Enigma, including your own. Confidants in a world of (unwilling?) informants and spies will be few.  </p>     
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
